:root {
  --main-font : 'Poppins', sans-serif;
  --secondary-font : 'Montserrat', sans-serif;

  line-height: 1.5;
  font-weight: 400;
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

/* Global */
li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Utilities */

.icon{
  & a{
    display: block;
    width: auto;
    height: auto;

    & img{
      width: 100%;
      height: 100%;
    }
  }
}

/* Header */

header {
  width: 100%;
  border-bottom: 1px solid #CACDD8;
}

.header__zona-horaria {
  height: 45px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.zona-horaria__info{
  margin: 0 200px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 500;
}

.zona-horaria__contact{
  display: flex;
  gap: 14px;
  align-items: center;
}

.zona-horaria__hour{
  display: flex;
  gap: 4px;

  & span{
    color: #A2A6B0;
  }
}

.header__icon--social-media{
  width: 20px;
  height: 20px;
}

.header__navigation{
  max-width: 1200px;
  margin: 0 200px;
  height: 92px;
  display: flex;
  justify-content: space-between;
}

.navigation__elements{
  display: flex;
  align-items: center;
  gap: 75px;
}

.navbar__container-links{
  display: flex;
  gap: 24px;
}

.logo{
  width: 50px;
  height: 50px;
}

.navbar__link{
  padding-bottom: 8px;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.header__user{
  display: flex;
  align-items: center;
  height: auto;
  gap: 4px;
}

.user__icon{
  height: 16px;
  width: 16px;
}

.user__options{
  display: flex;
  gap: 4px;
}

.navbar__link--red{
  color: red;
}

.user__link{
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

/* Queries */

@media (min-width: 1440px) {
  .header__navigation, .zona-horaria__info{
    margin: 0 auto;
  }
}