.buttons-category{
  display: flex;
  justify-content: space-between; 
}

.categoria__optiones-busqueda{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-category-text{
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.categoria__opciones-adicionales{
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --grey-paper);
  border-radius: 7px;
  cursor: pointer;
}

.pagination{
  display: flex;
  margin: 0 auto;
  gap: 24px;
  text-align: center;
}

.categoria__filtro{
  width: 200px;
  gap: 8px;
  position: relative;
}

.dropdown__category-filter{
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
}

.lista__opciones-filtrado{
  background-color: white;
  transition: 0.3s ease-in-out;
  opacity: 0;

  li{
    text-align: center;
  }
}

@media screen and (min-width: 599px) and (max-width: 1240px) {
  .buttons-category {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
    flex-direction: column;
     gap: 20px;
    margin-top: -90px;
    ;
  }
  .ejemplo{
    width: 278px;
    height: 50px;
    
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .buttons-category {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
    margin-top: -70px;
  }
  .ejemplo{
    width: 278px;
    height: 50px;
    
  }
  .menu{
    top: 370px;
    right: 10rem;
    width: 150px;

  }
}


.page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: black; 
  cursor: pointer;
  border: transparent;
  border-radius: 50%;
}

#number{
  display: flex;
  gap:12px
}

.botones__cambiar{
  width: 40px;
  height: 40px;
  color: var(--watermelon); 
  cursor: pointer;
  border: 1px solid var(--watermelon);
  border-radius: 50%;
  padding: 0;
}