@use '../tools.scss' as mixins;

  .zona-horaria__info {
    width: 100%;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-cloud);
    font-family: var(--main-font);
    font-size: 1.2rem;
    @include mixins.tablet (0, 32px, 0);
    @include mixins.desktop (0, 200px, 0);
  }

  .zona-horaria__contact {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .zona-horaria__hour {
    display: flex;
    gap: 4px;

    & span {
      color: var(--grey-mouse);
    }
  }

  .header__icon--social-media {
    width: 20px;
    height: 20px;
  }
  
  .header__navigation {
    margin: 0 16px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    @include mixins.tablet (0, 32px, 0);
    @include mixins.desktop (0, 200px, 0);
  }
  
  .navigation__elements {
    display: flex;
    align-items: center;
    gap: 75px;
  }
  
  .navbar__container-links {
    display: flex;
    gap: 24px;
  }
  
  .navbar__link {
    padding-bottom: 8px;
    font-family: var(--main-font);
    font-size: 1.4rem;
  }

  .header__user {
    display: flex;
    align-items: center;
    height: auto;
    gap: 4px;
  }

  .user__options {
    display: flex;
    gap: 4px;
  }
  
  .user__link {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
  }

  .header__menu-mobile {
    width: 56px;
    height: 56px;
    border-radius: 25px;
    border: solid 2px var(--white-cloud);
  
    & a {
      & img {
        width: 30px;
        height: 30px;
      }
    }
  }
  
  @media (width < 1240px) {
    header {
      background-color: var(--red-fire);
    }
  
    .logo {
      display: none;
    }
  
    .header__navbar {
      display: none;
    }
  
    .user__link {
      color: var(--white-cloud);
    }
  
    .zona-horaria__contact>p {
      display: none;
    } 
  }
  
  @media (width >= 1240px) {
    .header__menu-mobile {
      display: none;
    }
  }