.login__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__logo{
    height: 60px;
    width: 100%;
    background-color: red;
}

.login__contenido{
    display: flex;
    justify-content: space-between;
}

.login__imagen{
    background-color: aqua;
    width: 654px;
    height: 760px;
}

.login-formulario{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 24px;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.contenido__login{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.login__formulario{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
}

.login__recuperar-contraseña{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.login__button{
    width: 326px;
    margin: 0 auto;
}

.inicio-rapido{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.login__metodos{
    display: flex;
    gap: 20px;
}

.borrar{
    height: 20px;
    width: 20px;
    background-color: blueviolet;
}

.login__input{
    display: flex;
    flex-direction: column;
}