.home__productos{
    flex-direction: column;
    gap: 40px;
}

.titulo__seccion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    h3{
       font-size: 3.2rem; 
    }
    p{
        color: var(--red-fire);
    }
}

.ultimas-unidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;          
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 24px;
    @media (width < 820px){
        max-width: 550px;
    }
}

.producto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 234px;
    height: 330px;
    padding: 16px 24px;
    border: 1px solid #c7c7c7;
    overflow: hidden;
}

.producto__imagen{
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.producto__main-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.producto__actions{
    position: absolute;
    display: flex;
    top: 40px;
    left: 20px;
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.producto__iconos-interactivos{
    background: rgb(256, 256, 256);
    // -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    // -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0;
    // -moz-transition: all 0.2s 0.3s;
    // -o-transition: all 0.2s 0.3s;
    transition: all 0.15s 0.15s;
    border: solid 1px var(--red-fire);

    & img{
        width: 50%;
        height: 50%;
    }
}

//!Efecto Hover para los iconos interactivos
// .producto__iconos-interactivos:hover{
//     background-color: var(--red-fire);

//     .iconos-interactivos__iconos{
//         transition: all 0.1s;
//         filter: brightness(0) invert(1);
//     }
// }

.producto__calificacion{
    gap: 8px;
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.star-active{
    color: var(--gold-apple);
}

.star{
    color: var(--snowman);
}

.reviews{
    color: var(--snowman);
}

.producto__descuento{
    color: var(--grey-mouse);
}

.producto__precio{
    font-size: 1.8rem;
}

.boton__añadir-carrito{
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 50px;
}

.producto:hover{
    cursor: pointer;
    .producto__descuento,.producto__precio{
        display: none;
    }
    .boton__añadir-carrito{
        display: flex;
        position: relative;
        opacity: 1;
        transition: all 0.2s 0.2s;
    }
    .producto__iconos-interactivos{
        opacity: 1;
    }
}

@media screen and (max-width : 600px){

    .producto{
        gap: 0px;
        height: 320px;
        width: 200px;
        scroll-snap-align: center;
        flex: 0 0 100%;

        & img{
            max-height: 140px;
        }
    }

    // !Este es un plan B por si no funciona el scroll-snap

    // .ultimas-unidades{
    //     scroll-snap-type: x mandatory;
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 330px;
    //     overflow-x: scroll;
    // }

    .ultimas-unidades{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
    }

    .home__productos{
        gap: 32px;
    }
}

// ! Animacion de hover con los productos efecto cristal
.overlayA {
    background: rgba(105, 178, 204, 0.195);
    height: 100%;
    left: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.overlayB {
    background: rgba(212, 204, 204, 0.195);
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.producto:hover .overlayA {
    top: 0;
}
.producto:hover .overlayB {
    top: 0;
}
