.home__productos{
    flex-direction: column;
    gap: 40px;
}

.titulo__seccion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    h3{
       font-size: 3.2rem; 
    }
    p{
        color: var(--red-fire);
    }
}

.ultimas-unidades{
    width: 100%;
    display: flex;
    flex-wrap: wrap;          
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 24px;

    @media (width < 820px){
        max-width: 550px;
    }
}

.producto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 234px;
    height: 330px;
    padding: 16px 24px;
    border: 1px solid #c7c7c7;
    & img{
        height: 150px;
        width: 100%;
        object-fit: contain;
        background-color: var(--gray);
    }
}

.producto__main-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.producto__actions{
    position: absolute;
    top: 16px;
    left: 16px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    & div{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: solid 1px var(--red-fire);

        & img{
            width: 50%;
            height: 50%;
        }
    }
    & div:hover{
        background-color: var(--red-fire);
    }
}

.producto__calificacion{
    gap: 8px;
}

.stars{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.star-active{
    color: var(--gold-apple);
}

.star{
    color: var(--snowman);
}

.reviews{
    color: var(--snowman);
}

.producto__descuento{
    color: var(--grey-mouse);
}

.producto__precio{
    font-size: 1.8rem;
}

.boton__añadir-carrito{
    display: none;
    width: 100%;
    border-radius: 50px;
}

.producto:hover{
    cursor: pointer;
    .producto__descuento,.producto__precio{
        display: none;
    }

    .boton__añadir-carrito{
        display: flex;
    }

    .producto__actions{
        display: flex;
    }
}

@media screen and (max-width : 600px){

    .producto{
        gap: 0px;
        height: 320px;
        width: 200px;
        scroll-snap-align: center;
        flex: 0 0 100%;

        & img{
            max-height: 140px;
        }
    }

    // !Este es un plan B por si no funciona el scroll-snap

    // .ultimas-unidades{
    //     scroll-snap-type: x mandatory;
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 330px;
    //     overflow-x: scroll;
    // }

    .ultimas-unidades{
        scroll-snap-type: x mandatory;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
    }

    .home__productos{
        gap: 32px;
    }
}



.ovrly01 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.ovrly01 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.ovrly01 .ovrlyT {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    left: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ovrly01 .ovrlyB {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ovrly01 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ovrly01 .buttons .fa {
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    margin: 0 1px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.2s 0.3s;
    -moz-transition: all 0.2s 0.3s;
    -o-transition: all 0.2s 0.3s;
    transition: all 0.2s 0.3s;
    opacity: 0;
}
.ovrly01:hover .ovrlyT {
    top: 0;
}
.ovrly01:hover .ovrlyB {
    top: 0;
}
.ovrly01:hover .buttons .fa {
    opacity: 1;
}