h2 {
    font-weight: bold;
    font-size: 24px;
}

span {
    color: var(--watermelon);
}

.profile__section {
    display: none;
}

.profile__section.show {
    display: block;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.profile__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 57px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}

.profile__text {
    display: flex;
    flex-direction: row;
}

.user__info {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.userInfo__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__info a{
    display: block;
}

.info__a{
    color: aqua;
}

.profile__sectionNav{
    display: flex;
    flex-direction: row;
    background-color: var(--watermelon);
    padding: 8px 13px;
    border-radius: 50px;
    gap: 48px;
}

.profile__sectionNav button{
    padding: 8px 38px;
    border-radius: 50px;
}