h2 {
    font-weight: bold;
    font-size: 30px;
}

span {
    color: var(--watermelon);
}

.profile__section {
    display: none;
}

.profile__section.show {
    display: block;
}

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.profile__main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.profile__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}


.profile__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user__info {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.userInfo__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user__info a {
    display: block;
}

.info__a {
    color: white;
  background-color: var(--watermelon);
  width: 200px;
  height: 45px;
  border-radius: 5px;
  font-size: 1.5rem;
  
}

.profile__sectionNav {
    display: flex;
    flex-direction: row;
    background-color: var(--watermelon);
    padding: 8px 13px;
    border-radius: 50px;
    gap: 250px;
}

.profile__sectionNav button {
    color: #ffffff;
    background-color: var(--watermelon);
    padding: 8px 38px;
    border-radius: 50px;
}
.producimgleft{
    width: 150px;
}

button.active {
    background-color: #ffffff;
    color: var(--watermelon);
}


.profile__wishlist {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.profile__orders {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.orders__title {
    display: flex;
    flex-direction: row;
}

.orders__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.orders__info p {
    text-decoration: line-through;
}

.profile__history {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.history__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.history__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
}
.imgPorfile{
    border-radius: 30%;
    width: 200px;
}

@media (max-width: 800px) {
    .profile__wishlist {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .profile__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .profile__sectionNav{
        gap: 36px;
    
        }
}

@media (max-width: 700px){
    .profile__wishlist{
        display: flex;
        flex-direction: column;
    }
    .profile__sectionNav{
        gap: 20px;
    
        }
}

@media (max-width: 500px){

    .profile__sectionNav button {
        padding: 8px 10px;
        border-radius: 50px;
    }
    .profile__sectionNav{
    gap: 30px;

    }

    .profile__info h2{
        display: none;
    }

    .profile__main{
        display: flex;
        flex-direction: column;
    }
    
    .profile__image{
        text-align: center;
    }

    .profile__text{
        .user__info{
            display: none;
        }
    }

    .profile__main{
        display: flex;
        flex-direction: row;
    }

    .shopping__info{
        text-align: center;
    }
}

@media (max-width: 400px){
    .orders__title img{
        display: none;
    }
    .orders__content{
        display: flex;
        flex-direction: column;
    }
}

