.register__container{
    display: flex;
    flex-direction: column;
}

.register__logo{
    text-align: right;
}

.register__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.register__image{
    width: 50%;
}

.register__form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 450px;
    padding: 0 30px;
    font-size: 1.6rem;
}

.form__welcome{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-top: 10px;
}

.form__welcome span{
    color: var(--watermelon);
}

.switch{
    display: flex;
    flex-direction: row;
    background-color: var(--watermelon);
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}

.switch__hoverLogin{
    padding: 5px  50px;
    color: #ffffff;
}

.switch__hoverRegister{
    background-color: #ffffff;
    color: var(--watermelon);
    padding: 5px  50px;
    border-radius: 50px;
}

.form__inputs{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 12px;

    .form__input{
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
    }
}

.form__input input{
    height: 40px;
    width: 100%;
    border-radius: 50px;
}

.enter__button{
    padding: 12px;
    width: 70%;
    background-color: var(--watermelon);
    border-radius: 50px;
    color: #ffffff;
    margin: auto;
    font-size: 20px;
}

.register-error{
    border: 2px solid red;
    color: red;
}

.register-error::placeholder{
    color: red;
}

.tool-tip__container{
    display: flex;
    align-items: center;
}

.input__diseño-contraseña{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.eye-container__animation{
    position: absolute;
    right: 22px;
    top: 54px;
}

@media (max-width: 900px){
    .register__container{
        display: flex;
        flex-direction: column;
    }
    .register__image{
        display: none;
    }
    .register__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__inputs{
        gap: 24px;
    }
}

@media (max-width: 599px){
    .register__content{
        padding-top: 48px;
    }
    .register__logo{
        display: none;
    }
}

  