.producto__carrito-compras{
    display: grid;
    grid-template-columns: 1fr 2fr repeat(2, 1fr) 2fr;
    grid-gap: 10px;
    border-top: solid 1px #CACDD8;
    padding-block: 24px;
}

.contenedor__carrito-compras{
    min-height: 500px;
}
.producto__carrito-detalle{
    color: #000000;
    text-align: center;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto__carrito-detalle--imagen{
    aspect-ratio: 1/1;
}

.producto__carrito-detalle--cantidad{
    width: 60px;
    height: 20px;
}