.singleProduct {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1040px;
    margin: 0 auto;
    gap: 100px;
}
.tex_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 492px;
}
.img{
    aspect-ratio: 4/3;
    max-width: 400px;
    margin-bottom: 20px;
}
.img_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.butosn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.butons_actions{
   border: solid 1px rgb(116, 116, 116);
    border-radius: 50%;
    display: flex;
    align-items: center;


}
.buton_add{
  height: 45px;
  width: 159px;
  color: #fff;
  background-color: var( --red-fire);
}
.title{
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: bold;
}
.precio{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
}
.stock{
    font-size: 14px;
}
.descripcion_single_product{
    font-family: var(--secondary-font);
    font-size: 16px;
    color: #858585;
    line-height: 22px;
    text-align: justify;
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Define el número máximo de líneas a mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.linea-horizontal{
    border-bottom: 1px solid #BDBDBD; 
    width: 100%; 
    margin: 10px 0;
}
.colorProduct{
  width: 30px; 
  height: 30px; 
background-color: aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.producto-descripcion ,.producto-descripcion__container{
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 80px;
}

.producto-descripcion {
    max-height: 440px;
}

.producto-descripcion__container{
    padding: 0;
    min-height: 350px;
    position: relative;

    h3{
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 32px;
        color: var(--black);
    }
}

.detail{
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    translate: translateX(-100%);
}

.detail-active{
    opacity: 1;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.producto-descripcion__navigation{
    border-block-end: 1px solid var(--shark-skin);
}

.producto-descripcion__options{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.producto-descripcion__link{
    color: var(--grey-mouse);
    line-height: 16px;
    padding: 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    span{
        color: var(--grey-mouse);
    }
}

.producto-descripcion__details{
    display: flex;
    gap: 24px;
    max-width: 1040px;

    > * {
        flex: 1;
        flex-basis: 50%;
        align-items: center;
    }
}

.producto-descripcion__details-img{
    display: none;
}

.producto-descripcion__details-info,.producto-descripcion__details-caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #737373;
    overflow: hidden;
    text-overflow: ellipsis;
}

.producto-descripcion__lista-caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.producto-descripcion__comentarios{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.producto-descripcion__escribir-comentario{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.options__mi-comentario{
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .stars{
        font-size: 24px;
    }
}

@media (min-width : 1410px){
    .producto-descripcion__details-img{
        display: block;
    }
    .producto-descripcion__details{
        > * {
            flex-basis: 33%;
            align-items: unset;
        }
    }
}

//! Zona de reviews
.producto__reviews{
    display: flex;
    flex-direction: column;
}

.personal-review{
    display: flex;
    gap: 24px;
    font-family: var(--main-font);
}

.personal-review__img-user{
    max-width: 75px;
    min-width: 30px;
    width: 100%;
}

.personal-review__information{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal-review__user{
    display: flex;
    justify-content: space-between;
}

.personal-review__user-name{
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--grey-mouse);
}

.personal-review__comentario{
    color: #737373;
}