@use 'tools' as *;

//Estilo de las etiquetas del HTML en si, de los selectores de tipo etiquet, todo lo que no sea una clase o un id va aqui

// Documento
html {
    font-size: 62.5%;
}

/* Header */

header {
    width: 100%;
    border-bottom: 1px solid var(--shark-skin);
}

// Etiquetas

a{
    color: var(--black);
}


