@use 'tools' as *;

//Estilo de las etiquetas del HTML en si, de los selectores de tipo etiquet, todo lo que no sea una clase o un id va aqui.

// Documento
html {
    font-size: 62.5%;
    font-family: var(--main-font);
}

// Etiquetas
a{
    color: var(--black);
}

hr{
    background: var(--grey-paper);
    height: 1px;
}

button{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: var(--secondary-font);
}

input,textarea,select{
    padding: 16px;
    border: 1px solid var(--grey-mouse);
    border-radius: 4px;
    outline: none;
    font-size: 1.4rem;
    font-family: var(--main-font);
    cursor: text;
}

textarea{
    resize: none;
}

select{
    width: 100%;
    cursor: pointer;
}

ion-icon{
    cursor: pointer;
}

/* Header */

header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--shark-skin);
    position: sticky;
    top: 0;
    background-color: var(--white-cloud);
    z-index: 1;
}

/* Main */


// Footer





