//Reset del CSS

html, body, p,
ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe, hr,
h1, h2, h3, h4, h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3{
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0;
    cursor: pointer
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}
a{
    text-decoration: none;
}
input,button{
    border: 1px solid transparent;
}

/* Global */
li {
    list-style: none;
}

tool-tip {
    position: absolute;
    width:max-content;
    background-color: var(--white-cloud);
    z-index: 1;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px #000;
    padding: .5rem 1rem;
    border-radius: 8px;
    top: 100%;
    right: 12.5%;
    opacity: 0;
    transition: opacity .3s ease;
}

:has(> tool-tip){
    position: relative;
}

:has(> tool-tip):hover tool-tip{
    opacity: 1;
}
  
  