/* Reset */
@use 'settings';
@use 'tools';
@use 'generic';
@use 'elements';
@use 'objects';
@use 'components';
@use 'utilities';
@use 'undefined';


/* Utilities */

.icon {
  & a {
    display: block;
    width: auto;
    height: auto;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}


/* Header */

header {
  width: 100%;
  border-bottom: 1px solid var(--shark-skin);
}

.header__zona-horaria {
  height: 45px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
}

.zona-horaria__info {
  width: 100%;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-cloud);
  font-family: var(--main-font);
  font-size: 1.2rem;
  font-weight: 500;
}

.zona-horaria__contact {
  display: flex;
  gap: 14px;
  align-items: center;
}

.zona-horaria__hour {
  display: flex;
  gap: 4px;

  & span {
    color: var(--grey-mouse);
  }
}

.header__menu-mobile {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  border: solid 2px var(--white-cloud);
  display: flex;
  align-items: center;
  justify-content: center;

  & a {
    & img {
      width: 30px;
      height: 30px;
    }
  }
}

.header__icon--social-media {
  width: 20px;
  height: 20px;
}

.header__navigation {
  margin: 0 16px;
  height: 92px;
  display: flex;
  justify-content: space-between;
}

.navigation__elements {
  display: flex;
  align-items: center;
  gap: 75px;
}

.navbar__container-links {
  display: flex;
  gap: 24px;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar__link {
  padding-bottom: 8px;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--black);
}

.header__user {
  display: flex;
  align-items: center;
  height: auto;
  gap: 4px;
}

.user__icon {
  height: 16px;
  width: 16px;
}

.user__options {
  display: flex;
  gap: 4px;
}

.navbar__link--red {
  color: var(--red-fire);
}

.user__link {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

/* Queries */

@media (599px < width < 1240px) {

  .header__navigation,
  .zona-horaria__info {
    max-width: 904px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media (width < 1240px) {
  header {
    background-color: var(--red-fire);
  }

  .logo {
    display: none;
  }

  .header__navbar {
    display: none;
  }

  .user__link {
    color: var(--white-cloud);
  }

  .zona-horaria__contact>p {
    display: none;
  }
}

@media (width >=1240px) {
  .header__menu-mobile {
    display: none;
  }

  .header__navigation,
  .zona-horaria__info {
    padding: 0 200px;
    margin: 0 auto;
  }
}