//Aqui va todo el codigo del CSS que no sepas donde poner

/* Queries */

@media (599px < width < 1240px) {

    .header__navigation,
    .zona-horaria__info {
      max-width: 904px;
      padding: 0 32px;
      margin: 0 auto;
    }
  }
  
  @media (width < 1240px) {
    header {
      background-color: var(--red-fire);
    }
  
    .logo {
      display: none;
    }
  
    .header__navbar {
      display: none;
    }
  
    .user__link {
      color: var(--white-cloud);
    }
  
    .zona-horaria__contact>p {
      display: none;
    }
  }
  
  @media (width >=1240px) {
    .header__menu-mobile {
      display: none;
    }
  
    .header__navigation,
    .zona-horaria__info {
      padding: 0 200px;
      margin: 0 auto;
    }
  }