//Son los modificadores las clases de utilidades para espaciado, texto y otros estilos comunes. Estos son estilos que no son específicos de ningún componente o diseño en particular, pero que se utilizan en todo el sitio para aplicar estilos comunes no mas de una linea.


//Peso de las fuentes
.ft-regular{
    font-weight: 400;
}

.ft-medium{
    font-weight: 500;
}

.ft-bold{
    font-weight: 700;
}

// Espaciado

.fs-xs {
    font-size: 1.4rem;
  }
  
  .fs-sm {
    font-size: 0.875rem;
  }
  
  .fs-md {
    font-size: 1rem;
  }
  
  .fs-lg {
    font-size: 1.125rem;
  }
  
  .fs-xl {
    font-size: 1.25rem;
  }

// Modificadores navbar

.navbar__link--red {
    color: var(--red-fire);
}

// Modificadores Botones

.button--red {
    background-color: var(--red-fire);
    color: var(--white-cloud);

    &:hover {
        background-color: var(--white-cloud);
        color: var(--red-fire);
        border: 2px solid var(--red-fire);
    }
}