//Son los modificadores las clases de utilidades para espaciado, texto y otros estilos comunes. Estos son estilos que no son específicos de ningún componente o diseño en particular, pero que se utilizan en todo el sitio para aplicar estilos comunes no mas de una linea.

//Tipo de fuente
.ff-secondary {
    font-family: var(--secondary-font);
}

//Peso de las fuentes
.ft-regular{
    font-weight: 400;
}

.ft-medium{
    font-weight: 500;
}

.ft-bold{
    font-weight: 700;
}

// Espaciado

.fs-xs {
    font-size: 1.4rem;
  }
  
  .fs-sm {
    font-size: 1.6rem;
  }
  
  .fs-md {
    font-size: 2.4rem;
  }
  
  .fs-lg {
    font-size: 3.2rem;
  }
  
  .fs-xl {
    font-size: 1.25rem;
  }

// Modificadores navbar

.navbar__link--red {
    color: var(--red-fire);
}

// Modificadores Botones

.button--red {
    background-color: var(--red-fire);
    color: var(--white-cloud);

    &:hover {
        background-color: var(--white-cloud);
        color: var(--red-fire);
        border: 2px solid var(--red-fire);
    }
}

.button--white {
  background-color: var(--white-cloud);
  color: var(--red-fire);
  border: solid 2px var(--red-fire);

  &:hover {
      background-color: var(--red-fire);
      color: var(--white-cloud);
  }
}

.button--blue {
  background-color: var(--white-cloud);
  color: var(--night-sky);
  border: solid 2px var(--night-sky);
  transition: all 0.3s ease-in-out;

  &:hover {
      background-color: var(--night-sky);
      color: var(--white-cloud);
  }
}

.button--blue-active{
  transition:all 0.3s ease-in-out;
  background-color: var(--night-sky);
  color: var(--white-cloud);
}

//Hide elements

.hide {
    display: none;
}

// Text - Decoration

.tx-through{
    text-decoration: line-through;
}

//Estado
