<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
    <section class="header__navigation">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="#">
            <img src="../assets/logo.svg" alt="Logo" />
          </a>
        </div>

        <div class=" header__menu-mobile center">
          <img src="../assets/mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="#">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a href="#">Opción 1</a>
                <a href="#">Opción 2</a>
                <a href="#">Opción 3</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="#">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="#">About</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="#">Pages</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__user">
        <div class="icon user__icon user__icon--unregister">
          <a href="">
            <img src="../assets/profile.svg" alt="">
          </a>
        </div>
        <ul class="user__options">
          <li><a class="user__link ft-bold" href="">Login</a></li>
          <li class="user__link ft-bold">/</li>
          <li><a class="user__link ft-bold" href="">Register</a></li>
        </ul>
      </div>
    </section>
  </header>
  <main>
    <div class="ContainerTitle">
      <p>Home > About us</p>
      <h1>About Us</h1>
    </div>

    <div class="Containercard">
      <div class="Containercard_text">
        <h2>A Family That Keeps On Growing</h2>
        <p>We always aim to please the home market, supplying great computers and hardware at great prices to
          non-corporate customers, through our large Melbourne CBD showroom and our online store.

          Shop management approach fosters a strong customer service focus in our staff. We prefer to cultivate
          long-term client relationships rather than achieve quick sales, demonstrated in the measure of our long-term
          success.</p>
      </div>
      <img src="../assets/imgen1about.svg" alt="family">
    </div>

    <div class="Containercard--secondary">
      <img src="../assets//imgabout2.svg" alt="keyboard" class="Containercard--secondary_mission">
      <div class="Containercard_text--secondary">

        <h2>Mission</h2>
        <p>Shop.com is a proudly Australian owned, Melbourne based supplier of I.T. goods and services, operating since
          1991. Our client base encompasses individuals, small business, corporate and government organisations. We
          provide complete business IT solutions, centred on high quality hardware and exceptional customer service.
        </p>
      </div>
    </div>

    <div class="Containercard">
      <div class="Containercard_text">
        <h2>Vision</h2>
        <p>Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7
          processor with the upmost computing power to bring you an unparalleled gaming experience.

          *Performance compared to i7-9700. Specs varies by model..</p>
      </div>
      <img src="../assets//Mask Group.svg" alt="family">
    </div>


    <div class="Containercard--secondary">
      <img src="../assets/Rectangle 13.svg" alt="keyboard" class="Containercard--secondary_mission">
      <div class="Containercard_text--secondary">

        <h2>The Highest Quality of Products</h2>
        <p>We guarantee the highest quality of the products we sell. Several decades of successful operation and
          millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality
          control, so no characteristics mismatch can escape the eye of our professionals
        </p>
      </div>
    </div>



    <div class="Containercard">
      <div class="Containercard_text">
        <h2>We Deliver to Any Regions</h2>
        <p>We deliver our goods all across Australia. No matter where you live, your order will be shipped in time and
          delivered right to your door or to any other location you have stated. The packages are handled with utmost
          care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
      </div>
      <img src="../assets/Mask Group (1).svg" alt="family">
    </div>

    <div class="conatinerProduct">
      <div class="Product card">
         <h5>Product Support</h5>
         <p>Up to 3 years on-site warranty available for your peace of mind</p>
      </div>

      <div class="personal card">
        <h5>Personal Account</h5>
        <p>With big discounts, free delivery and a dedicated support specialist.</p>
      </div>

      <div class="Amazing card">
        <h5>Amazing Savings</h5>
        <p>Up to 70% off new Products, you can be sure of the best price.</p>
      </div>

    </div>
  </main>
  <script type="module" src="/main.js"></script>
</body>

</html>