<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sobre nosotros</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Lun-Jue : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Llámanos: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="header__navigation" id="authorizationOptions">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Inicio</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categorías</a>
              <div class="dropdown-content">
                <a class="category-id" href="./products.html">Laptops</a>
                <a class="category-id" href="./products.html">Desktop PC</a>
                <a class="category-id" href="./products.html">Monitors</a>
                <a class="category-id" href="./products.html">Complements</a>
                <a class="category-id" href="./products.html">Parts of PC</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">Acerca de</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contáctanos</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!-- Menu mobile -->
  <section id="menu-mobile" class="mobile-menu hide">
    <div class="mobile-menu__container">
      <div class="mobile-menu__brand space-between">
        <div class="icon header__icon--social-media">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="">
          </a>
        </div>
        <div class="icon header__icon--social-media">
          <div id="mobile-menu-close">
            <img src="../assets/icons/icon-close.svg" alt="">
          </div>
        </div>
      </div>

      <hr>

      <div class="mobile-menu__categories">
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Laptops</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Desktop PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Monitors</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Complements</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Parts PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <hr>

      <div class="mobile-menu__navigation">
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-gift.svg" alt="">
          </span>
          <a class="fs-xs" href="./about-us.html">Sobre nosotros</a>
        </div>
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-like.svg" alt="">
          </span>
          <a class="fs-xs" href="./blog.html">Blog</a>
        </div>
        <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contáctanos</a>
          </div>

        <div class="mobile-menu__buttons space-between">
          <button class="button--white">Ayuda</button>
          <button class="button--red">Iniciar sesion</button>
        </div>
      </div>
    </div>
  </section>
  </header>

  <main class=" ">
    <div class="about__container-title main__container">
      <p>Inicio > Sobre nosotros</p>
      <h1>Sobre nosotros</h1>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">Una familia que sigue creciendo</h2>
          <p class="about__information about__information--white">Nuestro objetivo siempre es complacer al mercado interno, suministrando excelentes computadoras y hardware a excelentes precios para
            clientes no corporativos, a través de nuestra tienda en línea.
            La gestión de la tienda fomenta un fuerte enfoque en el servicio al cliente en nuestro personal. Preferimos cultivar
            relaciones con los clientes a largo plazo en lugar de lograr ventas rápidas, demostrado en la medida de nuestro largo plazo
            éxito.</p>
        </div>
        <img class="about__image-main" src="../assets/img-aboutUs.svg" alt="family">
      </div>
    </article>

    <div class="about__container-card main__container">
      <img src="../assets/img-aboutUs-1.svg" alt="keyboard">
      <div class="about__text-card">

        <h2 class="ft-medium about__card-title">Misión</h2>
        <p class="about__information">Nuestra misión es ser el epicentro definitivo para todos los entusiastas de los juegos y la tecnología, proporcionando productos de la más alta calidad y construyendo una comunidad vibrante que fomente la pasión por los videojuegos y la innovación tecnológica. Nos esforzamos por ofrecer a nuestros clientes no solo los mejores computadores y periféricos gamer del mercado, sino también un espacio en línea donde puedan conectarse, compartir conocimientos, intercambiar experiencias y expresar sus opiniones sobre nuestros productos. Nuestro objetivo es empoderar a los jugadores para que alcancen su máximo potencial, tanto en el rendimiento de juego como en la participación en una comunidad comprometida y apasionada.
        </p>
      </div>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">Visión</h2>
          <p class="about__information about__information--white">Ser el epicentro  de la pasión gamer y la tecnología vanguardista en Colombia. Liderando la industria como la marca preferida por los jugadores, ofreciendo productos de excelencia y construyendo una comunidad alrededor de la tecnología e innovación</p>
        </div>
        <img src="../assets/img-aboutUs-2.svg" alt="family">
      </div>
    </article>

    <div class="about__container-card main__container">
      <img src="../assets/img-aboutUs-3.svg" alt="keyboard" class="Containercard--secondary_mission">
      <div class="about__text-card">

        <h2 class="ft-medium about__card-title">La más alta calidad de productos</h2>
        <p class="about__information">Garantizamos la más alta calidad de los productos que vendemos. Varias décadas de operación exitosa y
          Millones de clientes satisfechos nos permiten estar seguros de ello. Además, todos los artículos que vendemos pasan por un control de calidad exhaustivo, para que ningún desajuste de características pueda escapar a la atención de nuestros profesionales
        </p>
      </div>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">Entregamos a cualquier región</h2>
          <p class="about__information about__information--white">Entregamos nuestros productos sin importar dónde residas, tu pedido será enviado puntualmente y entregado directamente en tu puerta o en cualquier otra ubicación que hayas indicado. Los paquetes son manipulados con el mayor cuidado, asegurando que los productos solicitados te lleguen en perfectas condiciones, tal como esperas.</p>
        </div>
        <img src="../assets/img-aboutUs-4.svg" alt="family">
      </div>
    </article>

    <div class="info__contact-page main__container center">

      <div class="info__card-page center">
        <img src="../assets/img-info-support.jpg" alt="">
         <h3 class="ft-bold">Soporte de producto</h3>
         <p>Hasta 3 años de garantía in situ disponible para su tranquilidad</p>
      </div>

      <div class="info__card-page center">
        <img src="../assets/img-info-personal.jpg" alt="">
        <h3 class="ft-bold">Cuenta personal</h3>
        <p>Con grandes descuentos, entrega gratuita y un especialista en soporte dedicado.</p>
      </div>

      <div class="info__card-page center">
        <img src="../assets/img-info-saves.jpg" alt="">
        <h3 class="ft-bold">Ahorros increíbles</h3>
        <p>Hasta 70% de descuento en productos nuevos, puedes estar seguro del mejor precio.</p>
      </div>

    </div>  
  </main>
  
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Información de la compañía</li>
          <li><a href="">Sobre nosotros</a></li>
          <li><a href="">Nosotros estamos contratando</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Características</li>
          <li><a href="">Hoja de ruta</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Recursos</li>
          <li><a href="">Clientes</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Ponerse en contacto</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Tu Email">
            <button class="button--red newsletter__button">Suscribirte</button>
          </div>
        </div>
  
      </nav>
    </div>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Hecho con amor por Dynamite Code Todos los derechos reservados</p>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script type="module" src="../public/main.js"></script>
</body>

</html>