<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Us</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="header__navigation" id="authorizationOptions">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a class="category-id" href="./products.html">Laptops</a>
                <a class="category-id" href="./products.html">Desktop PC</a>
                <a class="category-id" href="./products.html">Monitors</a>
                <a class="category-id" href="./products.html">Complements</a>
                <a class="category-id" href="./products.html">Parts of pc</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">About</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!-- Menu mobile -->
  <section id="menu-mobile" class="mobile-menu hide">
    <div class="mobile-menu__container">
      <div class="mobile-menu__brand space-between">
        <div class="icon header__icon--social-media">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="">
          </a>
        </div>
        <div class="icon header__icon--social-media">
          <div id="mobile-menu-close">
            <img src="../assets/icons/icon-close.svg" alt="">
          </div>
        </div>
      </div>

      <hr>

      <div class="mobile-menu__categories">
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Laptops</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Desktop PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Monitors</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Complements</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Parts of Pc</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <hr>

      <div class="mobile-menu__navigation">
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-gift.svg" alt="">
          </span>
          <a class="fs-xs" href="./about-us.html">About Us</a>
        </div>
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-like.svg" alt="">
          </span>
          <a class="fs-xs" href="./blog.html">Blog</a>
        </div>
        <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contact Us</a>
          </div>

        <div class="mobile-menu__buttons space-between">
          <button class="button--white">Ayuda</button>
          <button class="button--red">Iniciar sesion</button>
        </div>
      </div>
    </div>
  </section>
  </header>

  <main class=" ">
    <div class="about__container-title main__container">
      <p>Home > About us</p>
      <h1>About Us</h1>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">A Family That Keeps On Growing</h2>
          <p class="about__information about__information--white">We always aim to please the home market, supplying great computers and hardware at great prices to
            non-corporate customers, through our large Melbourne CBD showroom and our online store.
            Shop management approach fosters a strong customer service focus in our staff. We prefer to cultivate
            long-term client relationships rather than achieve quick sales, demonstrated in the measure of our long-term
            success.</p>
        </div>
        <img class="about__image-main" src="../assets/img-aboutUs.svg" alt="family">
      </div>
    </article>

    <div class="about__container-card main__container">
      <img src="../assets/img-aboutUs-1.svg" alt="keyboard">
      <div class="about__text-card">

        <h2 class="ft-medium about__card-title">Mission</h2>
        <p class="about__information">Shop.com is a proudly Australian owned, Melbourne based supplier of I.T. goods and services, operating since
          1991. Our client base encompasses individuals, small business, corporate and government organisations. We
          provide complete business IT solutions, centred on high quality hardware and exceptional customer service.
        </p>
      </div>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">Vision</h2>
          <p class="about__information about__information--white">Experience a 40% boost in computing from last generation. MSI Desktop equips the 10th Gen. Intel® Core™ i7
            processor with the upmost computing power to bring you an unparalleled gaming experience.
            *Performance compared to i7-9700. Specs varies by model..</p>
        </div>
        <img src="../assets/img-aboutUs-2.svg" alt="family">
      </div>
    </article>

    <div class="about__container-card main__container">
      <img src="../assets/img-aboutUs-3.svg" alt="keyboard" class="Containercard--secondary_mission">
      <div class="about__text-card">

        <h2 class="ft-medium about__card-title">The Highest Quality of Products</h2>
        <p class="about__information">We guarantee the highest quality of the products we sell. Several decades of successful operation and
          millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality
          control, so no characteristics mismatch can escape the eye of our professionals
        </p>
      </div>
    </div>

    <article class="example1">
      <div class="about__container-card main__container">
        <div class="about__text-card">
          <h2 class="ft-medium about__card-title about__card-title--white">We Deliver to Any Regions</h2>
          <p class="about__information about__information--white">We deliver our goods all across Australia. No matter where you live, your order will be shipped in time and
            delivered right to your door or to any other location you have stated. The packages are handled with utmost
            care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
        </div>
        <img src="../assets/img-aboutUs-4.svg" alt="family">
      </div>
    </article>

    <div class="info__contact-page main__container center">

      <div class="info__card-page center">
        <img src="../assets/img-info-support.jpg" alt="">
         <h3 class="ft-bold">Product Support</h3>
         <p>Up to 3 years on-site warranty available for your peace of mind</p>
      </div>

      <div class="info__card-page center">
        <img src="../assets/img-info-personal.jpg" alt="">
        <h3 class="ft-bold">Personal Account</h3>
        <p>With big discounts, free delivery and a dedicated support specialist.</p>
      </div>

      <div class="info__card-page center">
        <img src="../assets/img-info-saves.jpg" alt="">
        <h3 class="ft-bold">Amazing Savings</h3>
        <p>Up to 70% off new Products, you can be sure of the best price.</p>
      </div>

    </div>
  </main>
  
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Company Info</li>
          <li><a href="">About Us</a></li>
          <li><a href="">We are hiring</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Features</li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Resources</li>
          <li><a href="">Customers</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Get in touch</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Your Email">
            <button class="button--red newsletter__button">Subscribe</button>
          </div>
        </div>
  
      </nav>
    </div>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Made With Love By Dynamite Code All Right Reserved </p>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script type="module" src="../public/main.js"></script>
</body>

</html>