<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="header__navigation" id="authorizationOptions">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a href="./products.html">Laptops</a>
                <a href="./products.html">Desktops Pc</a>
                <a href="./products.html">Monitors</a>
                <a href="./products.html">Complements</a>
                <a href="./products.html">Parts of pc</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">About</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!-- Menu mobile -->
  <section id="menu-mobile" class="mobile-menu hide">
    <div class="mobile-menu__container">
      <div class="mobile-menu__brand space-between">
        <div class="icon header__icon--social-media">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="">
          </a>
        </div>
        <div class="icon header__icon--social-media">
          <div id="mobile-menu-close">
            <img src="../assets/icons/icon-close.svg" alt="">
          </div>
        </div>
      </div>

      <hr>

      <div class="mobile-menu__categories">
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Laptops</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Desktop PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Monitors</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Complements</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Parts of Pc</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <hr>

      <div class="mobile-menu__navigation">
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-gift.svg" alt="">
          </span>
          <a class="fs-xs" href="./about-us.html">About Us</a>
        </div>
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-like.svg" alt="">
          </span>
          <a class="fs-xs" href="./blog.html">Blog</a>
        </div>
        <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contact Us</a>
          </div>

        <div class="mobile-menu__buttons space-between">
          <button class="button--white">Ayuda</button>
          <button class="button--red">Iniciar sesion</button>
        </div>
      </div>
    </div>
  </section>
  </header>
  <main class="main__container">
    <h1>Shopping Cart</h1>

    <div class="shoppingCard__pc">
      <div class="table__container">
        <table class="tabla">
          <thead>
            <tr>
              <th>Item</th>
              <th></th>
              <th>Price</th>
              <th>Qty</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="../assets/img-shoppingcart.webp" alt="Imagen de un producto añadido al carrito"></td>
              <td>MSI MEG Trident X 10SD-1012AU Intel i7 10700K, 2070 SUPER, 32GB RAM, 1TB SSD, Windows 10 Home, Gaming
                Keyboard and Mouse 3 Years Warranty</td>
              <td><strong>$4,349.00</strong></td>
              <td>
                <div class="qty">
                  <p>1</p>
                  <div>
                    <button class="qty__button">+</button> <!--Aca un icono-->
                    <button class="qty__button">-</button> <!--Aca un icono-->
                  </div>
                </div>
              </td>
              <td><strong>$13,047.00</strong></td>
              <td>
                <button class="edit__button"><img src="../assets/x-icon.png" alt=""></button>
                <button class="edit__button"><img src="../assets/edit-icon.png" alt=""></button>
              </td>
            </tr>
            <tr>
              <td><img src="../assets/img-shoppingcart.png" alt=""></td>
              <td>MSI MEG Trident X 10SD-1012AU Intel i7 10700K, 2070 SUPER, 32GB RAM, 1TB SSD, Windows 10 Home, Gaming
                Keyboard and Mouse 3 Years Warranty</td>
              <td><strong>$4,349.00</strong></td>
              <td>
                <div class="qty">
                  <p>1</p>
                  <div>
                    <button class="qty__button">+</button> <!--Aca un Icono-->
                    <button class="qty__button">-</button> <!--Aca un icono-->
                  </div>
                </div>
              </td>
              <td><strong>$13,047.00</strong></td>
              <td>
                <button class="edit__button"><img src="../assets/x-icon.png" alt=""></button> <!--Aca un icono-->
                <button class="edit__button"><img src="../assets/edit-icon.png" alt=""></button> <!--Aca un icono-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="shoppingCard__mobile">
      <div class="item">
        <div class="item__description">
          <img src="../assets/img-shoppingcart.png" alt="">
          <p>MSI MEG Trident X 10SD-1012AU Intel i7 10700K, 2070 SUPER, 32GB RAM, 1TB SSD, Windows 10 Home, Gaming
            Keyboard and Mouse 3 Years Warranty</p>
        </div>
        <div class="item__details">
          <table>
            <thead>
              <tr>
                <th>Price</th>
                <th>Qty</th>
                <th>SubTotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>$4,349.00</strong></td>
                <td>
                  <div class="qty">
                    <p>1</p>
                    <div>
                      <button class="qty__button">+</button> <!--Aca un Icono-->
                      <button class="qty__button">-</button> <!--Aca un icono-->
                    </div>
                  </div>
                </td>
                <td><strong>$13,047.00</strong></td>
                <td>
                  <button class="edit__button"><img src="../assets/x-icon.png" alt=""></button>
                  <button class="edit__button"><img src="../assets/edit-icon.png" alt=""></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="item">
        <div class="item__description">
          <img src="../assets/img-shoppingcart.png" alt="">
          <p>MSI MEG Trident X 10SD-1012AU Intel i7 10700K, 2070 SUPER, 32GB RAM, 1TB SSD, Windows 10 Home, Gaming
            Keyboard and Mouse 3 Years Warranty</p>
        </div>
        <div class="item__details">
          <table>
            <thead>
              <tr>
                <th>Price</th>
                <th>Qty</th>
                <th>SubTotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>$4,349.00</strong></td>
                <td>
                  <div class="qty">
                    <p>1</p>
                    <div>
                      <button class="qty__button">+</button>
                      <button class="qty__button">-</button>
                    </div>
                  </div>
                </td>
                <td><strong>$13,047.00</strong></td>
                <td>
                  <button class="edit__button"><img src="../assets/x-icon.png" alt=""></button>
                  <button class="edit__button"><img src="../assets/edit-icon.png" alt=""></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="option__buttons">
      <button class="continue__button"><a href="../views/home.html">Continue Shopping</a></button>
      <button class="clear__button">Clear Shopping Cart</button>
    </div>

    <div class="advice__container">
      <div class="advice">
        <img src="../assets/arrow-icon.png" alt="">
        <strong>Product Support</strong>
        <p>Up to 3 years on-site warranty available for your peace of mind.</p>
      </div>
      <div class="advice">
        <img src="../assets/profile-icon.png
            " alt="">
        <strong>Personal Account</strong>
        <p>With big discounts, free delivery and a dedicated support specialist.</p>
      </div>
      <div class="advice">
        <img src="../assets/tag-icon.png" alt="">
        <strong>Amazing Savings</strong>
        <p>Up to 70% off new Products, you can be sure of the best price.</p>
      </div>

  </main>
  
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Company Info</li>
          <li><a href="">About Us</a></li>
          <li><a href="">We are hiring</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Features</li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Resources</li>
          <li><a href="">Customers</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Get in touch</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Your Email">
            <button class="button--red newsletter__button">Subscribe</button>
          </div>
        </div>

      </nav>
    </div>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Made With Love By Dynamite Code All Right Reserved </p>
    </div>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script type="module" src="../public/main.js"></script>
</body>

</html>