<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
    <section class="header__navigation">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="#">
            <img src="../assets/logo.svg" alt="Logo" />
          </a>
        </div>

        <div class=" header__menu-mobile">
          <img src="../assets/mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link" href="#">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a href="#">Opción 1</a>
                <a href="#">Opción 2</a>
                <a href="#">Opción 3</a>
              </div>

            </li>
            <li>
              <a class="navbar__link" href="#">Blog</a>
            </li>
            <li>
              <a class="navbar__link" href="#">About</a>
            </li>
            <li>
              <a class="navbar__link" href="#">Pages</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__user">
        <div class="icon user__icon user__icon--unregister">
          <a href="">
            <img src="../assets/profile.svg" alt="">
          </a>
        </div>
        <ul class="user__options">
          <li><a class="user__link" href="">Login</a></li>
          <li class="user__link">/</li>
          <li><a class="user__link" href="">Register</a></li>
        </ul>
      </div>
    </section>
  </header>
  <script type="module" src="/main.js"></script>
</body>

</html>