<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Lun-Jue : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Llámanos: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="header__navigation" id="authorizationOptions">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Inicio</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categorías</a>
              <div class="dropdown-content">
                <a class="category-id" href="./products.html">Laptops</a>
                <a class="category-id" href="./products.html">Desktop PC</a>
                <a class="category-id" href="./products.html">Monitors</a>
                <a class="category-id" href="./products.html">Complements</a>
                <a class="category-id" href="./products.html">Parts of PC</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">Acerca de</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contáctanos</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!-- Menu mobile -->
  <section id="menu-mobile" class="mobile-menu hide">
    <div class="mobile-menu__container">
      <div class="mobile-menu__brand space-between">
        <div class="icon header__icon--social-media">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="">
          </a>
        </div>
        <div class="icon header__icon--social-media">
          <div id="mobile-menu-close">
            <img src="../assets/icons/icon-close.svg" alt="">
          </div>
        </div>
      </div>

      <hr>

      <div class="mobile-menu__categories">
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Laptops</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Desktop PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Monitors</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Complements</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Parts PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <hr>

      <div class="mobile-menu__navigation">
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-gift.svg" alt="">
          </span>
          <a class="fs-xs" href="./about-us.html">Sobre nosotros</a>
        </div>
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-like.svg" alt="">
          </span>
          <a class="fs-xs" href="./blog.html">Blog</a>
        </div>
        <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contáctanos</a>
          </div>

        <div class="mobile-menu__buttons space-between">
          <button class="button--white">Ayuda</button>
          <button class="button--red">Iniciar sesion</button>
        </div>
      </div>
    </div>
  </section>
  </header>

  <main class="main__container">
    <section class="promociones">
      <div class="promociones__contenedor-banners" id="bannerContainer">
        <article class="hero-banner center active">
          <div class="hero-banner__info left">
            <p class="fs-sm hero-banner__temporada">VERANO 2023</p>
            <h3 class="hero-baner__title ft-medium">-30% Descuento</h3>
            <p class="fs-md hero-baner__descripcion">Comprendemos cómo los grandes éxitos se construyen a partir de pequeños triunfos</p>
            <button class="button--red ff-secondary">Descuentos</button>
          </div>
          <div class="hero-banner__img">
            <img src="../assets/img-banner-1.webp" alt="">
          </div>
        </article>
      </div>

      <article class="trending">
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Producto</p>
            <h4 class="super-promocion__destacado">Presentado</h4>
            <p class="fs-xs">Top 10 Productos de la semana</p>
          </div>
        </div>
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Producto</p>
            <h4 class="super-promocion__destacado">Presentado</h4>
            <p class="fs-xs">Top 10 Productos de la semana</p>
          </div>
        </div>
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Producto</p>
            <h4 class="super-promocion__destacado">Presentado</h4>
            <p class="fs-xs">Top 10 Productos de la semana</p>
          </div>
        </div>
      </article>
    </section>

    <section class="home__productos center">      
      <div class="titulo__seccion">
        <h3 class="ft-medium">Ultimas unidades</h3>
      </div>
      <article id="productosHomeUltimasUnidades" class="ultimas-unidades">
        <!-- !Productos Generados desde renderCardProduct a partir del siguiente templeate-->
        <template id="template__producto">
          <div class="producto">            
            <div class="producto__main-content left">
              <img class="producto__imagen" src="" alt="">
              <div class="overlay overlayA"></div>
              <div class="overlay overlayB"></div>
              <div class="producto__actions">
                  <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos" src="../assets/icons/icon-corazon.svg" alt="Icono de corazon para generar una interaccion de deseo a ese producto"></div>
                  <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos"  src="../assets/icons/icon-stats.svg" alt="Icono de estadistica para mostrar descripcion mas avanzada del producto"></div>
              </div>
            
              <div class="producto__calificacion center">
                  <div class="stars"></div>
                  <p class="reviews"></p>
              </div>
              <h3 class="fs-xs producto__nombre"></h3>
            </div>
            <div class="producto__info-compra">
              <p class="tx-through fs-xs producto__descuento"></p>
              <p class="ft-bold producto__precio"></p>
              <button class="boton__añadir-carrito button--white">Añadir al carrito</button>
            </div>
          </div>
        </template>
        <!-- !Productos Generados desde renderCardProduct -->
      </article>
      <button class="ft-medium button--white">Ver mas productos</button>
    </section>

    <section class="productos__filtrados">
      <h3 class="ft-medium productos__filtrados--titulo">Referencias seleccionadas</h3>
      <div id="filtradoHome" class="filtro__buttons">
        <button id="filtroLaptop" class="ft-medium button--blue  button--blue-active">Portátil</button>
        <button id="filtroPc" class="ft-medium button--blue">PC</button>
        <button id="filtroMonitor" class="ft-medium button--blue">Monitor</button>
      </div>
      <article class="slider-container">
        <div id="filtroProductosHome" class="productos__slider">
          <!-- ? Productos generados -->
        </div>
        
        <img class="filtro__flechas filtro__flechas--atras" src="../assets/icons/icon-arrow.svg"></img>
        <img class="filtro__flechas filtro__flechas--adelante" src="../assets/icons/icon-arrow.svg"></img>
      </article>
    </section>

    <section class="home-blogs">

      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Santiago Torres •  15 Abr 2022</p>
          <div>
            <h3 class="ft-medium blog__titulo">Diseño Potenciado</h3>
          </div>
          <p class="blog__descripcion">Descubre cómo los periféricos de alta calidad impulsan tu creatividad en el diseño digital</p>
          <div class="ft-medium blog__tags">
            <p>Diseño</p>
            <p>Buscar</p>
          </div>
        </div>
      </article>

      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Natali Craig • 1 Ene 2023</p>
          <div>
            <h3 class="ft-medium blog__titulo">Cómo la colaboración nos hace mejores diseñadores</h3>
          </div>
          <p class="blog__descripcion">La colaboración puede fortalecer a nuestros equipos y mejorar nuestros diseños individuales.</p>
          <div class="ft-medium blog__tags">
            <p>Diseño</p>
            <p>Buscar</p>
          </div>
        </div>
      </article>

      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Isabel Ramírez • 7 Jul 2023</p>
          <div>
            <h3 class="ft-medium blog__titulo">Juego al Máximo</h3>
          </div>
          <p class="blog__descripcion">Explora la ciencia detrás de los periféricos gamer y lleva tu experiencia de juego a otro nivel.</p>
          <div class="ft-medium blog__tags">
            <p>Diseño</p>
            <p>Buscar</p>
          </div>
        </div>
      </article>
    </section>

  </main>
  
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Información de la compañía</li>
          <li><a href="">Sobre nosotros</a></li>
          <li><a href="">Nosotros estamos contratando</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Características</li>
          <li><a href="">Hoja de ruta</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Recursos</li>
          <li><a href="">Clientes</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Ponerse en contacto</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Tu Email">
            <button class="button--red newsletter__button">Suscribirte</button>
          </div>
        </div>
  
      </nav>
    </div>
  
    <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
    data-preference-id="221553980-16320b52-1713-4853-a431-33764d29c3a7" data-source="button">
    </script>
    <script src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
    data-preference-id="221553980-4354bf15-3b4e-4596-8c61-6a1152ba8c67" data-source="button">
    </script>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Hecho con amor por Dynamite Code Todos los derechos reservados</p>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="../public/main.js"></script>
  <script type="module" src="../scripts/banner.js"></script>
  <script type="module" src="../scripts/home.js"></script>

</body>

</html>