<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="header__navigation" id="authorizationOptions">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a href="./products.html">Laptops</a>
                <a href="./products.html">Desktops Pc</a>
                <a href="./products.html">Monitors</a>
                <a href="./products.html">Complements</a>
                <a href="./products.html">Parts of pc</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">About</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>


    <!-- Menu mobile -->
  <section id="menu-mobile" class="mobile-menu hide">
    <div class="mobile-menu__container">
      <div class="mobile-menu__brand space-between">
        <div class="icon header__icon--social-media">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="">
          </a>
        </div>
        <div class="icon header__icon--social-media">
          <div id="mobile-menu-close">
            <img src="../assets/icons/icon-close.svg" alt="">
          </div>
        </div>
      </div>

      <hr>

      <div class="mobile-menu__categories">
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Laptops</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Desktop PC</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Monitors</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Complements</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
        <div class="mobile-menu__link-categories space-between">
          <a class="fs-xs" href="./products.html">Parts of Pc</a>
          <a href="">
            <img src="../assets/icons/icon-arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <hr>

      <div class="mobile-menu__navigation">
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-gift.svg" alt="">
          </span>
          <a class="fs-xs" href="./about-us.html">About Us</a>
        </div>
        <div class="mobile-menu__pages">
          <span>
            <img src="../assets/icons/icon-like.svg" alt="">
          </span>
          <a class="fs-xs" href="./blog.html">Blog</a>
        </div>
        <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contact Us</a>
          </div>

        <div class="mobile-menu__buttons space-between">
          <button class="button--white">Ayuda</button>
          <button class="button--red">Iniciar sesion</button>
        </div>
      </div>
    </div>
  </section>
  </header>

  <main class="main__container">
    <section class="promociones">
      <div class="promociones__contenedor-banners" id="bannerContainer">
        <article class="hero-banner center active">
          <div class="hero-banner__info left">
            <p class="fs-sm hero-banner__temporada">SUMMER 2020</p>
            <h3 class="hero-baner__title ft-medium">-30% Discount</h3>
            <p class="fs-md hero-baner__descripcion">We know how large objects will act,
              but things on a small scale.</p>
            <button class="button--red ff-secondary">Descuentos</button>
          </div>
          <div class="hero-banner__img">
            <img src="../assets/img-banner-1.webp" alt="">
          </div>
        </article>
      </div>

      <article class="trending">
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Product</p>
            <h4 class="super-promocion__destacado">Featured</h4>
            <p class="fs-xs">Top Ten Products  of the Week</p>
          </div>
        </div>
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Product</p>
            <h4 class="super-promocion__destacado">Featured</h4>
            <p class="fs-xs">Top Ten Products  of the Week</p>
          </div>
        </div>
        <div class="super-promocion">
          <div class="left super-promocion__info">
            <p class="fs-xs super-promocion__producto">Product</p>
            <h4 class="super-promocion__destacado">Featured</h4>
            <p class="fs-xs">Top Ten Products  of the Week</p>
          </div>
        </div>
      </article>
    </section>

    <section class="home__productos center">      
      <div class="titulo__seccion">
        <h3 class="ft-medium">Last Units</h3>
        <p>Explore More</p>
      </div>
      <article id="productosHomeUltimasUnidades" class="ultimas-unidades">
        <!-- !Productos Generados desde renderCardProduct a partir del siguiente templeate-->
        <template id="template__producto">
          <div class="producto">            
            <div class="producto__main-content left">
              <img class="producto__imagen" src="" alt="">
              <div class="overlay overlayA"></div>
              <div class="overlay overlayB"></div>
              <div class="producto__actions">
                  <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos" src="../assets/icons/icon-corazon.svg" alt="Icono de corazon para generar una interaccion de deseo a ese producto"></div>
                  <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos"  src="../assets/icons/icon-stats.svg" alt="Icono de estadistica para mostrar descripcion mas avanzada del producto"></div>
              </div>
            
              <div class="producto__calificacion center">
                  <div class="stars"></div>
                  <p class="reviews"></p>
              </div>
              <h3 class="fs-xs producto__nombre"></h3>
            </div>
            <div class="producto__info-compra">
              <p class="tx-through fs-xs producto__descuento"></p>
              <p class="ft-bold producto__precio"></p>
              <button class="boton__añadir-carrito button--white">Add al carrito</button>
            </div>
          </div>
        </template>
        <!-- !Productos Generados desde renderCardProduct -->
      </article>
      <button class="ft-medium button--white">Ver mas productos</button>
    </section>

    <section class="productos__filtrados">
      <h3 class="ft-medium productos__filtrados--titulo">Referencias seleccionadas</h3>
      <div id="filtradoHome" class="filtro__buttons">
        <button id="filtroLaptop" class="ft-medium button--blue  button--blue-active">Laptop</button>
        <button id="filtroPc" class="ft-medium button--blue">PC</button>
        <button id="filtroMonitor" class="ft-medium button--blue">Monitor</button>
      </div>
      <article class="slider-container">
        <div id="filtroProductosHome" class="productos__slider">
          <!-- ? Productos generados -->
        </div>
        
        <img class="filtro__flechas filtro__flechas--atras" src="../assets/icons/icon-arrow.svg"></img>
        <img class="filtro__flechas filtro__flechas--adelante" src="../assets/icons/icon-arrow.svg"></img>
      </article>
    </section>

    <section class="home-blogs">
      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Natali Craig • 1 Jan 2023</p>
          <div>
            <h3 class="ft-medium blog__titulo">How collaboration makes us better designers</h3>
          </div>
          <p class="blog__descripcion">Collaboration can make our teams stronger, and our individual designs better.</p>
          <div class="ft-medium blog__tags">
            <p>Design</p>
            <p>Research</p>
          </div>
        </div>
      </article>

      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Natali Craig • 1 Jan 2023</p>
          <div>
            <h3 class="ft-medium blog__titulo">How collaboration makes us better designers</h3>
          </div>
          <p class="blog__descripcion">Collaboration can make our teams stronger, and our individual designs better.</p>
          <div class="ft-medium blog__tags">
            <p>Design</p>
            <p>Research</p>
          </div>
        </div>
      </article>

      <article class="blog">
        <img src="../assets/img-blog-1.webp" alt=" Imagen del blog #1">
        <div class="blog__info">
          <p class="blog__autor">Natali Craig • 1 Jan 2023</p>
          <div>
            <h3 class="ft-medium blog__titulo">How collaboration makes us better designers</h3>
          </div>
          <p class="blog__descripcion">Collaboration can make our teams stronger, and our individual designs better.</p>
          <div class="ft-medium blog__tags">
            <p>Design</p>
            <p>Research</p>
          </div>
        </div>
      </article>
    </section>

  </main>
  
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Company Info</li>
          <li><a href="">About Us</a></li>
          <li><a href="">We are hiring</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Features</li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Resources</li>
          <li><a href="">Customers</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Get in touch</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Your Email">
            <button class="button--red newsletter__button">Subscribe</button>
          </div>
        </div>
  
      </nav>
    </div>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Made With Love By Dynamite Code All Right Reserved </p>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script type="module" src="../public/main.js"></script>
  <script type="module" src="../scripts/banner.js"></script>
  <script type="module" src="../scripts/home.js"></script>
</body>

</html>