<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>
<body>
    <main class="main__container">
        <div class="login__container">
            <div class="login__logo">
                <img src="../assets/icons/icon-logo.svg" alt="">
            </div>
            <div class="login__contenido">
                <div class="login__imagen">
                    <img src="../assets/img-login.webp" alt="Imagen de una chica gamer jugando a su juego favortito">
                </div>
                <div class="login-formulario">
                    <div class="bienvenida">
                        <p class="fs-sm">Welcome to <span>GamerTx</span></p>
                        <div class="switch">
                            <a  href="login.html" class="form__login fs-xs">Ingresar</a>
                            <a href="register.html" class="form__register fs-xs">Registrarse</a>
                        </div>
                    </div>
                    <div class="contenido__login">
                        <div class="login__formulario">
                            <p class="fs-xs">El lugar donde comienza la magia, al alcance de un click. Libera todo tu potencial</p>
                            <div class="form__input">
                                <label for="">Nombre de usuario</label>
                                <input id="email" type="text" placeholder="Ingresa tu nombre">
                            </div>
                            <div  class="form__input">
                                <label for="">Contraseña</label>
                                <input id="password" type="text" placeholder="Ingresa tu contraseña">
                            </div>
                        </div>
                        <div class="login__recuperar-contraseña">
                            <div>
                                <input type="checkbox" name="" id="checkbox">
                                <label for="checkbox">Recordarme</label>
                            </div>
                            <p>¿Olvido contraseña?</p>
                        </div>
                        <button id="login__button" class="enter__button">Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="../scripts/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>