<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="header__zona-horaria">
      <div class="zona-horaria__info ft-medium">
        <p class="zona-horaria__hour"><span>Mon-Thu : </span>9:00 AM - 5:30 PM</p>
        <div class="zona-horaria__contact">
          <p>Call Us: (00) 1234 5678</p>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-facebook.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <a href="">
              <img src="../assets/icons/icon-instagram.svg" alt="">
            </a>
          </div>

        </div>
      </div>
    </div>
    <section class="header__navigation">
      <div class="navigation__elements">
        <div class="icon logo logo--header">
          <a href="./home.html">
            <img src="../assets/icons/icon-logo.svg" alt="Logo" />
          </a>
        </div>

        <div id="hamburguer-menu" class=" header__menu-mobile center">
          <img src="../assets/icons/icon-mobile-menu.svg" alt="Logo" />
        </div>

        <nav class="header__navbar">
          <ul class="navbar__container-links">
            <li>
              <a class="navbar__link ft-bold" href="./home.html">Home</a>
            </li>
            <!-- Dropdown Menu -->
            <li class="dropdown">
              <a class="navbar__link ft-bold navbar__link--red" href="#">Categories</a>
              <div class="dropdown-content">
                <a href="./products.html">Laptops</a>
                <a href="./products.html">Desktops Pc</a>
                <a href="./products.html">Monitors</a>
                <a href="./products.html">Complements</a>
                <a href="./products.html">Parts of pc</a>
              </div>

            </li>
            <li>
              <a class="navbar__link ft-bold" href="./blog.html">Blog</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./about-us.html">About</a>
            </li>
            <li>
              <a class="navbar__link ft-bold" href="./contact-us.html">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__user">
        <div class="icon user__icon user__icon--unregister">
          <a href="./login.html">
            <img src="../assets/icons/icon-profile.svg" alt="">
          </a>
        </div>
        <ul class="user__options">
          <li><a class="user__link ft-bold" href="./login.html">Login</a></li>
          <li class="user__link ft-bold">/</li>
          <li><a class="user__link ft-bold" href="./register.html">Register</a></li>
        </ul>
      </div>

    </section>


    <!-- Menu mobile -->
    <section id="menu-mobile" class="mobile-menu hide">
      <div class="mobile-menu__container">
        <div class="mobile-menu__brand space-between">
          <div class="icon header__icon--social-media">
            <a href="./home.html">
              <img src="../assets/icons/icon-logo.svg" alt="">
            </a>
          </div>
          <div class="icon header__icon--social-media">
            <div id="mobile-menu-close">
              <img src="../assets/icons/icon-close.svg" alt="">
            </div>
          </div>
        </div>

        <hr>

        <div class="mobile-menu__categories">
          <div class="mobile-menu__link-categories space-between">
            <a class="fs-xs" href="./products.html">Laptops</a>
            <a href="">
              <img src="../assets/icons/icon-arrow.svg" alt="">
            </a>
          </div>
          <div class="mobile-menu__link-categories space-between">
            <a class="fs-xs" href="./products.html">Desktop PC</a>
            <a href="">
              <img src="../assets/icons/icon-arrow.svg" alt="">
            </a>
          </div>
          <div class="mobile-menu__link-categories space-between">
            <a class="fs-xs" href="./products.html">Monitors</a>
            <a href="">
              <img src="../assets/icons/icon-arrow.svg" alt="">
            </a>
          </div>
          <div class="mobile-menu__link-categories space-between">
            <a class="fs-xs" href="./products.html">Complements</a>
            <a href="">
              <img src="../assets/icons/icon-arrow.svg" alt="">
            </a>
          </div>
          <div class="mobile-menu__link-categories space-between">
            <a class="fs-xs" href="./products.html">Parts of Pc</a>
            <a href="">
              <img src="../assets/icons/icon-arrow.svg" alt="">
            </a>
          </div>
        </div>

        <hr>

        <div class="mobile-menu__navigation">
          <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-gift.svg" alt="">
            </span>
            <a class="fs-xs" href="./about-us.html">About Us</a>
          </div>
          <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-like.svg" alt="">
            </span>
            <a class="fs-xs" href="./blog.html">Blog</a>
          </div>
          <div class="mobile-menu__pages">
            <span>
              <img src="../assets/icons/icon-contactUs.svg" alt="">
            </span>
            <a class="fs-xs" href="./contact-us.html">Contact Us</a>
          </div>

          <div class="mobile-menu__buttons space-between">
            <button class="button--white">Ayuda</button>
            <button class="button--red">Iniciar sesion</button>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main class="main__container">
    <div class="about__container-title">
      <p>Home > products</p>
      <h1>Laptos</h1>
    </div>

    <div class="buttons-category ">
      <div class="buttons-category-text">
        <a class="buton-category-back"  href="home.html"> ‹Back</a>
        <p id="text-buttons_category"></p>
      </div>
     
      <div class="ejemplo" ">
      <p class="buton-category-menu" >Filter for : price  </p>
      <img src="../assets/icons/icon-arrow.svg" alt="">
    </div>
      <div id="menu" class="menu">
        <ul>
          <li><a href="#">Precio</a></li>
          <li><a href="#">Mas nuevo</a></li>
          <li><a href="#">lo mas vendido</a></li>
        </ul>
      </div>
    </div>
    
    <article class="lista__productos">
      <!-- !Productos Generados desde renderCardProduct a partir del siguiente templeate-->
      <template id="template__producto">
        <div class="producto">
          <div class="producto__main-content left">
            <img class="producto__imagen" src="" alt="">
            <div class="overlay overlayA"></div>
            <div class="overlay overlayB"></div>
            <div class="producto__actions">
                <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos" src="../assets/icons/icon-corazon.svg" alt="Icono de corazon para generar una interaccion de deseo a ese producto"></div>
                <div class="center producto__iconos-interactivos"><img class="iconos-interactivos__iconos"  src="../assets/icons/icon-stats.svg" alt="Icono de estadistica para mostrar descripcion mas avanzada del producto"></div>
            </div>
          
            <div class="producto__calificacion center">
                <div class="stars"></div>
                <p class="reviews"></p>
            </div>
            <h3 class="fs-xs producto__nombre"></h3>
          </div>
          <div class="producto__info-compra">
            <p class="tx-through fs-xs producto__descuento"></p>
            <p class="ft-bold producto__precio"></p>
            <button class="boton__añadir-carrito button--white">Add al carrito</button>
          </div>
        </div>
      </template>
      <!-- !Productos Generados desde renderCardProduct -->
    </article>

    <div class="pagination">
      <span class="page-number " id="retroceder">
        < </span>
          <span class="page-number " id="number" > </span>
        
          <span class="page-number " id="avanzar"> > </span>
    </div>


  </main>
  <footer>
    <div class="footer__container-navigation">
      <div class="footer__header ft-14">
        <h3 class="ft-bold">Gamer Tx</h3>
        <div>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <hr>
      <nav class="footer__container-links grid">
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Company Info</li>
          <li><a href="">About Us</a></li>
          <li><a href="">We are hiring</a></li>
          <li><a href="">Blog</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Legal</li>
          <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Features</li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Foros</a></li>
        </ul>
        <ul class="left footer__navigation-links">
          <li class="ft-bold">Resources</li>
          <li><a href="">Customers</a></li>
        </ul>
        <div>
          <ul class="left footer__navigation-links">
            <li class="ft-bold">Get in touch</li>
          </ul>
          <div class="center footer__newsletter">
            <input class="newsletter__input" type="text" placeholder="Your Email">
            <button class="button--red newsletter__button">Subscribe</button>
          </div>
        </div>

      </nav>
    </div>

    <div class="footer__copyright center">
      <p class="ft-medium fs-xs">Made With Love By Dynamite Code All Right Reserved </p>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script type="module" src="../public/main.js"></script>
  <script type="module" src="../scripts/category.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>