<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <main class="main__container">
        <div class="register__container">
            <div class="register__logo">
                <!--Espacio Para El Logo-->
            </div>
            <div class="register__content">
                <div class="register__image">
                    <!--Aca una Imgen-->
                </div>
                <div class="register__form">
                    <div class="form__welcome">
                        <p>Welcome to GamerTx</p>
                        <div class="switch">
                            <a href="login.html">Login</a>
                            <a href="register.html">Register</a>
                        </div>
                    </div>
                    <div class="form__inputs">
                        <div class="form__input">
                            <p>Email Address</p>
                            <input type="text">
                        </div>
                        <div class="form__input">
                            <p>Username</p>
                            <input type="text">
                        </div>
                        <div class="form__input">
                            <p>Password</p>
                            <input type="text">
                        </div>
                        <div class="form__input">
                            <p>Confirm Password</p>
                            <input type="text">
                        </div>
                    </div>
                    <button>Register</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>