<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/icon-logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main__container">
        <div class="register__container">
            <div class="register__logo">
                <img src="../assets/icons/icon-logo.svg" alt="">
            </div>
            <div class="register__content">
                <div class="register__image">
                    <img src="../assets/img-register.webp" alt="">
                </div>
                <div class="register__form">
                    <div class="form__welcome">
                        <p>Welcome to <span>GamerTx</span></p>
                        <div class="switch">
                            <a href="login.html" class="switch__hoverLogin">Ingresar</a>
                            <a href="register.html" class="switch__hoverRegister">Registrarse</a>
                        </div>
                    </div>
                    <div class="form__inputs">
                        <div class="form__input">
                            <label for="email">Correo Electronico</label>
                            <input type="email" placeholder="Escribe tu correo electronico" id="email">
                        </div>
                        <div class="form__input">
                            <label for="username">Nombre de Usuario</label>
                            <input type="text" placeholder="Escribe tu nombre de usuario" id="username">
                        </div>
                        <div class="form__input">
                            <div class="input__diseño-contraseña">
                                <label for="password">Contraseña</label>
                                <picture class="tool-tip__container">
                                    <img src="../assets/icons/icon-help.svg" alt="Icono para obtener">
                                    <tool-tip role="tooltip">La contraseña debe tener al menos 10 caracteres y 3 numeros</tool-tip>
                                </picture>
                            </div>
                            <input type="password" placeholder="Escribe tu contraseña" class="registro___password" id="password">
                            <div class="eye-container__animation">
                                <div class="eye slash" onclick="togglePW()">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
                                </div>
                            </div>
                        </div>
                        <div class="form__input">
                            <label for="confirmPassword">Confirma Contraseña</label>
                            <input type="password" placeholder="Escribe tu contraseña" class="registro___password" id="confirmPassword">
                            
                        </div>
                        <span class="error" id="mensajeError"></span>
                    </div>
                    <button class="enter__button" id="registerButton">Registrarse</button>
                </div>
            </div>
        </div>
    </main>
    <script src="../scripts/registro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
