@charset "UTF-8";
:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  /* Colors */
  --cherry-pick: #f5778f;
  --watermelon: #ff0062;
  --red-fire: #ca234f;
  --black: #000;
  --night-sky: #1b2838;
  --blue-berry: #252b42;
  --white-cloud: #ffffff;
  --grey-paper: #e6e6e6;
  --shark-skin: #c7c7c7 --snowman: #a2a6b0;
  --grey-mouse: #8b949e;
  --gold-apple: #ffb800;
  --blue-perl: #139ad6;
  --orange: #e77c40;
  /* Units */
  --bk-tablet: 599px;
  --bk-desktop: 1240px;
}

html, body, p,
ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe, hr,
h1, h2, h3, h4, h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

input, button {
  border: 1px solid transparent;
}

/* Global */
li {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

a {
  color: var(--black);
}

hr {
  background: var(--grey-paper);
  height: 1px;
}

button {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
}

input {
  padding: 16px;
  border: 1px solid var(--grey-mouse);
  border-radius: 4px;
  outline: none;
  font-size: 1.4rem;
  font-family: var(--main-font);
}

ion-icon {
  cursor: pointer;
}

/* Header */
header {
  width: 100%;
  border-bottom: 1px solid var(--shark-skin);
}

/* Main */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 30px;
}

.header__zona-horaria {
  height: 45px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
}

.main__container {
  margin: 0 16px;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .main__container {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .main__container {
    max-width: 1600px;
    padding: 32px 200px 24px;
    margin: 0 auto;
  }
}

.icon a {
  display: block;
  width: auto;
  height: auto;
}
.icon a img {
  width: 100%;
  height: 100%;
}

.user__icon {
  height: 16px;
  width: 16px;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilos del contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-cloud);
  padding: 34px 0 0;
  min-width: 232px;
  box-shadow: 0px 8px 16px 0px var(--night-sky);
  z-index: 1;
}

/* Estilos de los enlaces en el menú desplegable */
.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
}

/* Cambiar el color de fondo cuando el cursor está sobre un enlace */
.dropdown-content a:hover {
  background-color: var(--grey-paper);
}

/* Mostrar el menú desplegable cuando el botón se hace hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-menu {
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 2;
  max-width: 500px;
  height: calc(100vh - 45px);
  padding: 16px 32px;
  background-color: var(--white-cloud);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.mobile-menu__brand {
  align-items: center;
  width: 100%;
}

.mobile-menu__categories,
.mobile-menu__navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link-categories {
  align-items: center;
}

.mobile-menu__pages {
  display: flex;
  gap: 8px;
}

.mobile-menu__buttons {
  gap: 16px;
}
.mobile-menu__buttons button {
  width: 190px;
}

.zona-horaria__info {
  width: 100%;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-cloud);
  font-family: var(--main-font);
  font-size: 1.2rem;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .zona-horaria__info {
    max-width: 904px;
    padding: 0 32px 0;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .zona-horaria__info {
    max-width: 1600px;
    padding: 0 200px 0;
    margin: 0 auto;
  }
}

.zona-horaria__contact {
  display: flex;
  gap: 14px;
  align-items: center;
}

.zona-horaria__hour {
  display: flex;
  gap: 4px;
}
.zona-horaria__hour span {
  color: var(--grey-mouse);
}

.header__icon--social-media {
  width: 20px;
  height: 20px;
}

.header__navigation {
  margin: 0 16px;
  height: 92px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .header__navigation {
    max-width: 904px;
    padding: 0 32px 0;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .header__navigation {
    max-width: 1600px;
    padding: 0 200px 0;
    margin: 0 auto;
  }
}

.navigation__elements {
  display: flex;
  align-items: center;
  gap: 75px;
}

.navbar__container-links {
  display: flex;
  gap: 24px;
}

.navbar__link {
  padding-bottom: 8px;
  font-family: var(--main-font);
  font-size: 1.4rem;
}

.header__user {
  display: flex;
  align-items: center;
  height: auto;
  gap: 4px;
}

.user__options {
  display: flex;
  gap: 4px;
}

.user__link {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
}

.header__menu-mobile {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  border: solid 2px var(--white-cloud);
}
.header__menu-mobile a img {
  width: 30px;
  height: 30px;
}

@media (width < 1240px) {
  header {
    background-color: var(--red-fire);
  }
  .logo {
    display: none;
  }
  .header__navbar {
    display: none;
  }
  .user__link {
    color: var(--white-cloud);
  }
  .zona-horaria__contact > p {
    display: none;
  }
}
@media (width >= 1240px) {
  .header__menu-mobile {
    display: none;
  }
}
.about__container-title {
  display: flex;
  flex-direction: column;
}
.about__container-title p {
  font-size: 12px;
}

.about__container-title h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 6px;
}

.example1 {
  background-color: var(--cherry-pick);
}

.about__container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__information {
  font-size: 1.6rem;
  margin-top: 40px;
  line-height: normal;
  letter-spacing: 0.32px;
}

.about__information--white {
  color: white;
}

.about__container-card img {
  width: 400px;
  height: 488.54px;
}

.about__text-card {
  max-width: 564px;
  height: auto;
}

.about__card-title {
  font-size: 4.8rem;
}

.about__card-title--white {
  color: var(--white-cloud);
}

@media (width < 1240px) {
  .about__container-card {
    flex-direction: column;
    gap: 2px;
  }
  .about__container-card img {
    width: 200px;
    height: 200px;
  }
  .about__container-card h2 {
    font-size: 3rem;
    align-items: center;
  }
}
.info__contact-page {
  margin-block: 56px;
  background-color: var(--grey-paper);
  padding-block: 72px;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__card-page {
  flex-direction: column;
  gap: 8px;
  flex: 1;
  width: 100%;
  min-width: 225px;
  text-align: center;
}
.info__card-page img {
  mix-blend-mode: multiply;
}

.info__card-page h3 {
  font-size: 1.6rem;
}

.info__card-page p {
  font-size: 1.6rem;
}

.footer__header {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__header:first-child {
  font-size: 2.4rem;
  font-family: var(--secondary-font);
}

.footer__navigation-links {
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  gap: 10px;
}
.footer__navigation-links :first-child {
  padding: 0 0 10px 0;
}

.footer__newsletter {
  gap: 8px;
  justify-content: space-between;
}

.newsletter__input {
  width: 60%;
}

.newsletter__button {
  width: 40%;
}

.footer__copyright {
  background-color: var(--red-fire);
  height: 74px;
  color: var(--white-cloud);
}

.footer__container-navigation {
  width: 100%;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .footer__container-navigation {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .footer__container-navigation {
    max-width: 1600px;
    padding: 32px 200px 24px;
    margin: 0 auto;
  }
}

@media (599px < width < 1240px) {
  .footer__container-links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }
  .footer__container-links div:first-of-type {
    grid-column: 2/4;
    grid-row: 2;
  }
}
@media screen and (max-width: 600px) {
  .footer__container-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
  .footer__container-links div:first-of-type {
    grid-column: 1/3;
    grid-row: 3;
    width: 100%;
  }
}
.ft-regular {
  font-weight: 400;
}

.ft-medium {
  font-weight: 500;
}

.ft-bold {
  font-weight: 700;
}

.fs-xs {
  font-size: 1.4rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.navbar__link--red {
  color: var(--red-fire);
}

.button--red {
  background-color: var(--red-fire);
  color: var(--white-cloud);
}
.button--red:hover {
  background-color: var(--white-cloud);
  color: var(--red-fire);
  border: 2px solid var(--red-fire);
}

.button--white {
  background-color: var(--white-cloud);
  color: var(--red-fire);
  border: solid 2px var(--red-fire);
}
.button--white:hover {
  background-color: var(--red-fire);
  color: var(--white-cloud);
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
