@charset "UTF-8";
:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  /* Colors */
  --cherry-pick: #f5778f;
  --watermelon: #ff0062;
  --red-fire: #ca234f;
  --black: #000;
  --night-sky: #1b2838;
  --blue-berry: #252b42;
  --white-cloud: #ffffff;
  --grey-paper: #e6e6e6;
  --shark-skin: #c7c7c7;
  --snowman: #a2a6b0;
  --grey-mouse: #8b949e;
  --gold-apple: #ffb800;
  --blue-perl: #139ad6;
  --orange: #e77c40;
  /* Units */
  --bk-tablet: 599px;
  --bk-desktop: 1240px;
}

html, body, p,
ol, ul, li,
dl, dt, dd,
blockquote,
figure, fieldset,
legend, textarea,
pre, iframe, hr,
h1, h2, h3, h4, h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

input, button {
  border: 1px solid transparent;
}

/* Global */
li {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

a {
  color: var(--black);
}

hr {
  background: var(--grey-paper);
  height: 1px;
}

button {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
}

input, textarea, select {
  padding: 16px;
  border: 1px solid var(--grey-mouse);
  border-radius: 4px;
  outline: none;
  font-size: 1.4rem;
  font-family: var(--main-font);
  cursor: text;
}

select {
  width: 100%;
  cursor: pointer;
}

ion-icon {
  cursor: pointer;
}

/* Header */
header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--shark-skin);
  position: sticky;
  top: 0;
  background-color: var(--white-cloud);
  z-index: 1;
}

/* Main */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  grid-gap: 30px;
}

.header__zona-horaria {
  height: 45px;
  background-color: var(--black);
  display: flex;
  justify-content: center;
}

.main__container {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .main__container {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .main__container {
    max-width: 1600px;
    padding: 32px 200px 24px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .main__container {
    gap: 40px;
  }
}
.icon a {
  display: block;
  width: auto;
  height: auto;
}
.icon a img {
  width: 100%;
  height: 100%;
}

.user__icon {
  height: 16px;
  width: 16px;
}

.logo {
  width: 50px;
  height: 50px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilos del contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-cloud);
  padding: 34px 0 0;
  min-width: 232px;
  box-shadow: 0px 8px 16px 0px var(--night-sky);
  z-index: 1;
}

/* Estilos de los enlaces en el menú desplegable */
.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
}

/* Cambiar el color de fondo cuando el cursor está sobre un enlace */
.dropdown-content a:hover {
  background-color: var(--grey-paper);
}

/* Mostrar el menú desplegable cuando el botón se hace hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.hero-banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), no-repeat center/cover, lightgray 50%;
  gap: 32px;
  color: var(--white-cloud);
  padding: 40px 24px;
}

.promociones__contenedor-banners {
  position: relative;
}

.hero-banner__info {
  gap: 24px;
  max-width: 490px;
  width: 100%;
}

.hero-baner__title {
  font-size: 6.2rem;
}

.hero-banner__img {
  width: 65%;
  max-width: 600px;
  min-width: 247px;
  height: 100%;
  max-height: 400px;
  aspect-ratio: 1/1;
}
.hero-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (599px < width < 1240px) {
  .hero-banner {
    gap: 24px;
    padding: 32px 16px;
  }
  .hero-banner__info {
    max-width: 360px;
  }
  .hero-banner__info .hero-baner__title {
    font-size: 3rem;
  }
  .hero-banner__info .hero-baner__descripcion {
    font-size: 1.6rem;
  }
}
@media screen and (width < 600px) {
  .hero-banner {
    gap: 8px;
    padding: 16px;
  }
  .hero-banner__img {
    width: 50%;
  }
  .hero-banner__info {
    gap: 16px;
    width: 50%;
  }
  .hero-banner__info .hero-baner__descripcion {
    display: none;
  }
  .hero-banner__info .hero-baner__title {
    font-size: 1.6rem;
  }
  .hero-banner__info .hero-banner__temporada {
    font-size: 1.4rem;
  }
  .hero-banner__info button {
    width: 100%;
    max-width: 100px;
    height: 30px;
  }
  .hero-banner__img {
    min-width: 135px;
  }
}
.active {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  height: auto;
}

.hero-banner:not(.active) {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.mobile-menu {
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 2;
  max-width: 500px;
  height: calc(100vh - 45px);
  padding: 16px 32px;
  background-color: var(--white-cloud);
}

#mobile-menu-close {
  cursor: pointer;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.mobile-menu__brand {
  align-items: center;
  width: 100%;
}

.mobile-menu__categories,
.mobile-menu__navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-menu__link-categories {
  align-items: center;
}

.mobile-menu__pages {
  display: flex;
  gap: 8px;
}

.mobile-menu__buttons {
  gap: 16px;
}
.mobile-menu__buttons button {
  width: 190px;
}

.zona-horaria__info {
  width: 100%;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-cloud);
  font-family: var(--main-font);
  font-size: 1.2rem;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .zona-horaria__info {
    max-width: 904px;
    padding: 0 32px 0;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .zona-horaria__info {
    max-width: 1600px;
    padding: 0 200px 0;
    margin: 0 auto;
  }
}

.zona-horaria__contact {
  display: flex;
  gap: 14px;
  align-items: center;
}

.zona-horaria__hour {
  display: flex;
  gap: 4px;
}
.zona-horaria__hour span {
  color: var(--grey-mouse);
}

.header__icon--social-media {
  width: 20px;
  height: 20px;
}

.header__navigation {
  margin: 0 16px;
  height: 92px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .header__navigation {
    max-width: 904px;
    padding: 0 32px 0;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .header__navigation {
    max-width: 1600px;
    padding: 0 200px 0;
    margin: 0 auto;
  }
}

.navigation__elements {
  display: flex;
  align-items: center;
  gap: 75px;
  cursor: pointer;
}

.navbar__container-links {
  display: flex;
  gap: 24px;
}

.navbar__link {
  padding-bottom: 8px;
  font-family: var(--main-font);
  font-size: 1.4rem;
}

.header__user {
  display: flex;
  align-items: center;
  height: auto;
  gap: 4px;
}

.user__options {
  display: flex;
  gap: 4px;
}

.user__link {
  font-family: var(--secondary-font);
  font-size: 1.4rem;
}

.header__menu-mobile {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  border: solid 2px var(--white-cloud);
}
.header__menu-mobile a img {
  width: 30px;
  height: 30px;
}

@media (width < 1240px) {
  header {
    background-color: var(--red-fire);
  }
  .logo {
    display: none;
  }
  .header__navbar {
    display: none;
  }
  .user__link {
    color: var(--white-cloud);
  }
  .zona-horaria__contact > p {
    display: none;
  }
}
@media (width >= 1240px) {
  .header__menu-mobile {
    display: none;
  }
}
.contenedor__ultimas-unidades {
  flex-direction: column;
  gap: 54px;
}

.ultimas-unidades {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 24px;
}

.producto {
  position: relative;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 234px;
  max-height: 330px;
  padding: 0 24px 8px;
  border: 1px solid #c7c7c7;
}
.producto img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  background-color: var(--gray);
}

.producto__actions {
  position: absolute;
  top: 16px;
  left: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.producto__actions div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: solid 1px var(--red-fire);
}
.producto__actions div img {
  width: 50%;
  height: 50%;
}
.producto__actions div:hover {
  background-color: var(--red-fire);
}

.producto__calificacion {
  gap: 8px;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.star-active {
  color: var(--gold-apple);
}

.star {
  color: var(--snowman);
}

.reviews {
  color: var(--snowman);
}

.producto__descuento {
  color: var(--grey-mouse);
}

.producto__precio {
  font-size: 1.8rem;
}

.boton__añadir-carrito {
  display: none;
  width: 100%;
  border-radius: 50px;
}

.producto:hover {
  cursor: pointer;
}
.producto:hover .producto__descuento, .producto:hover .producto__precio {
  display: none;
}
.producto:hover .boton__añadir-carrito {
  display: flex;
}
.producto:hover .producto__actions {
  display: flex;
}

@media screen and (max-width: 600px) {
  .producto {
    gap: 0px;
    height: 320px;
    width: 200px;
    scroll-snap-align: center;
    flex: 0 0 100%;
  }
  .producto img {
    max-height: 140px;
  }
  .ultimas-unidades {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
  }
  .contenedor__ultimas-unidades {
    gap: 32px;
  }
}
.trending {
  width: 86%;
  min-width: 530px;
  max-height: 330px;
  margin: 64px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media screen and (width < 600px) {
  .trending {
    width: 100%;
    min-width: none;
  }
}
@media screen and (600px < width < 904px) {
  .trending {
    gap: 16px;
  }
}
@media screen and (width > 1240px) {
  .trending {
    max-height: 400px;
  }
}

.super-promocion {
  padding: 48px 24px;
  aspect-ratio: 3/4;
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
}

.super-promocion__info {
  gap: 10px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--white-cloud);
}

.super-promocion__destacado {
  font-size: 3rem;
}
@media screen and (width < 770px) {
  .super-promocion__destacado {
    font-size: 2rem;
  }
}

.super-promocion__producto {
  color: var(--orange);
}

.trending > div:nth-child(1) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), rgba(33, 33, 33, 0.5) url("/client/assets/img-super-promocion-4.jpeg");
  background-size: cover;
  background-position: center;
}

.trending > div:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), rgba(33, 33, 33, 0.5) url("/client/assets/img-super-promocion-2.jpeg");
  background-size: cover;
  background-position: center;
}

.trending > div:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), rgba(33, 33, 33, 0.5) url("/client/assets/img-super-promocion-3.jpeg");
  background-size: cover;
  background-position: center;
}

.about__container-title {
  display: flex;
  flex-direction: column;
}
.about__container-title p {
  font-size: 12px;
}

.about__container-title h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 6px;
}

.example1 {
  background-color: var(--cherry-pick);
}

.about__container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.about__information {
  font-size: 1.6rem;
  margin-top: 40px;
  line-height: normal;
  letter-spacing: 0.32px;
}

.about__information--white {
  color: white;
}

.about__container-card img {
  width: 400px;
  height: 488.54px;
}

.about__text-card {
  max-width: 564px;
  height: auto;
}

.about__card-title {
  font-size: 4.8rem;
}

.about__card-title--white {
  color: var(--white-cloud);
}

@media screen and (width < 600px) {
  .about__container-title {
    padding-block: 12px;
  }
  .about__container-card .about__image-main {
    width: 100%;
    object-fit: cover;
  }
  .about__container-card {
    flex-direction: column;
    align-items: center;
    padding-block: 32px;
  }
  .about__container-card img {
    order: 1;
  }
  .about__text-card {
    order: 2;
  }
}
@media (width < 1240px) {
  .about__container-card img {
    width: 250px;
    height: 250px;
  }
  .about__text-card {
    max-width: 400px;
  }
  .about__container-card h2 {
    font-size: 3rem;
  }
}
.info__contact-page {
  margin-block: 56px;
  background-color: var(--grey-paper);
  padding-block: 72px;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__card-page {
  flex-direction: column;
  gap: 8px;
  flex: 1;
  width: 100%;
  min-width: 225px;
  text-align: center;
}
.info__card-page img {
  mix-blend-mode: multiply;
}

.info__card-page h3 {
  font-size: 1.6rem;
}

.info__card-page p {
  font-size: 1.6rem;
}

.footer__header {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__header:first-child {
  font-size: 2.4rem;
  font-family: var(--secondary-font);
}

.footer__navigation-links {
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  gap: 10px;
}
.footer__navigation-links :first-child {
  padding: 0 0 10px 0;
}

.footer__newsletter {
  gap: 8px;
  justify-content: space-between;
}

.newsletter__input {
  width: 60%;
}

.newsletter__button {
  width: 40%;
}

.footer__copyright {
  background-color: var(--red-fire);
  height: 74px;
  color: var(--white-cloud);
}

.footer__container-navigation {
  width: 100%;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 599px) and (max-width: 1240px) {
  .footer__container-navigation {
    max-width: 904px;
    padding: 32px 32px 24px;
    margin: 0 auto;
  }
}
@media screen and (width >= 1240px) {
  .footer__container-navigation {
    max-width: 1600px;
    padding: 32px 200px 24px;
    margin: 0 auto;
  }
}

@media (599px < width < 1240px) {
  .footer__container-links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
  }
  .footer__container-links div:first-of-type {
    grid-column: 2/4;
    grid-row: 2;
  }
}
@media screen and (max-width: 600px) {
  .footer__container-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
  .footer__container-links div:first-of-type {
    grid-column: 1/3;
    grid-row: 3;
    width: 100%;
  }
}
.contact-us {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.formulario-contacto {
  width: 100%;
  gap: 40px;
}
.formulario-contacto input {
  width: 100%;
}

.formulario-contacto__title {
  font-size: 3.2rem;
}

.formulario-contacto__descripcion {
  gap: 16px;
  max-width: 840px;
}
.formulario-contacto__descripcion p {
  font-size: 1.6rem;
}

.formulario-contacto__inputs {
  gap: 16px;
  width: 100%;
  max-width: 840px;
}

.formulario__input {
  width: 100%;
  max-width: 320px;
  gap: 12px;
}

.label__input {
  font-size: 1.2rem;
}

.formulario-contacto__campos-principales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-width: 654px;
  gap: 12px;
}

.formulario__textarea {
  width: 100%;
  height: 156px;
}
.formulario__textarea textarea {
  width: 100%;
  height: 100%;
}

.formulario__informacion {
  gap: 16px;
  min-width: 220px;
}

.informacion span {
  height: 50%;
}

.informacion {
  display: flex;
  gap: 16px;
}
.informacion span img {
  display: inline;
  vertical-align: middle;
}

.informacion__descripcion p {
  font-size: 1.4rem;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

@media screen and (width < 651px) {
  .contact-us {
    flex-wrap: wrap;
    justify-content: center;
  }
  .formulario-contacto__inputs {
    align-items: center;
  }
  .formulario__input {
    max-width: none;
  }
  .formulario-contacto input {
    min-width: 200px;
  }
}
@media screen and (width < 1200px) {
  .formulario-contacto__campos-principales {
    min-width: auto;
  }
  .formulario__informacion {
    min-width: 250px;
  }
}
@media screen and (width > 1400px) {
  .formulario__input {
    max-width: 360px;
  }
}
.ff-secondary {
  font-family: var(--secondary-font);
}

.ft-regular {
  font-weight: 400;
}

.ft-medium {
  font-weight: 500;
}

.ft-bold {
  font-weight: 700;
}

.fs-xs {
  font-size: 1.4rem;
}

.fs-sm {
  font-size: 1.6rem;
}

.fs-md {
  font-size: 2.4rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.navbar__link--red {
  color: var(--red-fire);
}

.button--red {
  background-color: var(--red-fire);
  color: var(--white-cloud);
}
.button--red:hover {
  background-color: var(--white-cloud);
  color: var(--red-fire);
  border: 2px solid var(--red-fire);
}

.button--white {
  background-color: var(--white-cloud);
  color: var(--red-fire);
  border: solid 2px var(--red-fire);
}
.button--white:hover {
  background-color: var(--red-fire);
  color: var(--white-cloud);
}

.hide {
  display: none;
}

.tx-through {
  text-decoration: line-through;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
}

#back-to-form {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
